{% extends 'base.html.twig' %}

{% block title %}Marvel Character Detail{% endblock %}

{% block body %}
<style>

</style>

{% include 'nav.html.twig' %}
<div class="wrapper">

  <div class="row">
    <div class="columns text-center">
      <h2 style="border-bottom: 1px solid #eeeeee; margin-bottom: 15px; ">Marvel API: Character Detail</h2>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <div class="thumbnail">
        <img src="{{ character['thumbnail']['path'] }}.{{ character['thumbnail']['extension'] }}">
      </div>
    </div>
    <div class="columns medium-8">
      <div class="row">
        <div class="columns">
          <h4>
            <b>Name:</b> {{ character['name'] }}
            {% if isFavourite %}
              <button id="removeFavourite" class="button hollow alert" style="float: right;">
                Remove Favourite
              </button>
            {% else %}
              <button id="addFavourite" class="button hollow success" style="float: right;">
                Set Favourite
              </button>
            {% endif %}
          </h4>
          <p>{{ character['description'] }}</p>
        </div>
        <div class="columns">
          <b>Appears in the following comics:</b>
          <ul>
            {% for comic in comicNames %}
              <li>{{ comic }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div> <!-- ./container -->
{% endblock %}
